<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDS973SOOagfvI3uGfiRKXm03BFbh1Gdy4</string>
	<key>GCM_SENDER_ID</key>
	<string>1079031426190</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.yang.MoodyPets</string>
	<key>PROJECT_ID</key>
	<string>moodypets-3d59a</string>
	<key>STORAGE_BUCKET</key>
	<string>moodypets-3d59a.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1079031426190:ios:39384c4d304aec24aceddf</string>
</dict>
</plist>